<!DOCTYPE html>
<html>
  <head>
    <script src="/react.js"></script>
    <script src="/JSXTransformer.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.0.min.js"></script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/jsx">
      var CountrySelect = React.createClass({
        getInitialState: function() {
          return { data: [] };
        },
        componentDidMount: function() {
          $.ajax({
            url: this.props.url,
            dataType: 'json',
            success: function(data) {
              this.setState({ data: data });
            }.bind(this),
            error: function(xhr, status, err) {
              console.error(this.props.url, status, err.toString());
            }.bind(this)
          });
        },
        render: function () {
          var countryOptions = this.state.data.map(function (country) {
            return (
              <option value={country.code}>
                {country.name}
              </option>
            );
          });
          return (
            <div>
              <label for="country">
                Countries
              </label>
              <br />
              <select name="country">
                {countryOptions}
              </select>
            </div>
          )
        }
      });

      React.render(
        <CountrySelect url="/countries" />,
        document.getElementById('content')
      );
    </script>
  </body>
</html>
